.header__logo {
  width: 173px;
  height: 33px;
  color: white;
  margin-bottom: 41px;
  background: url('../../../images/logo-white.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 639px) {
  .header__logo {
    margin-bottom: 32px;
    margin-left: 19px;
  }
}