@import url('./_edit/button_edit.css');
@import url('./_add/button_add.css');

.button { /*global button*/
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity linear 0.2s;
  outline: none;
}

.button:hover {
  opacity: 0.6;
}

