.form__button {
  color: white;
  background: black;
  border: none;
  padding: 0;
  width: 358px;
  height: 50.15px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 19px;
  border-radius: 2px;
  transition: opacity linear 0.2s;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media(max-width: 639px) {
  .form__button {
    width: 100%;
  }
}

@media(max-width: 320px){
  .form__button{
    font-size:14px;
    line-height: 16px;
    margin-top: 0;
    height: 46px;
  }
}