@import url('./_image-modal/modal__close-button_image-modal.css');

.modal__close-button {
  background-image: url('../../../images/close-icon.svg'); 
  background-repeat: no-repeat;
  background-position: center;
  width: 40.7px;
  height: 40.7px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 0px;
  transition: opacity linear 0.2s;
}

.modal__close-button:hover {
  opacity: 0.6;
}