@import url('./_open-image/modal__container_open-image.css');

.modal__container {
  display: flex;
  justify-content: center;
  padding-top: 148px;
}

@media (max-width: 639px)  {
  .modal__container {
    /*position: absolute;*/
    padding-left: 30px;
    padding-right: 10px;
  }
}
