.footer__copyright{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media(max-width: 639px) {
  .footer__copyright {
    max-width: 230px;
    font-size: 14px;
    line-height: 17px;
  }
}