@import url("../__input/_type/form__input_type_error.css");

.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  margin-block-end: 0; /*this gets rid of user agent stylesheets*/
  margin-block-start: 0;  /*this gets rid of user agent stylesheets*/
}

.form__input:focus{
  outline: none;
}

