.profile__button_edit {
  background-image: url('/images/edit-icon.svg');
  width: 24px;
  height: 24px;
  border: solid 1px white;
  margin-right: 154px;
  margin-left: 24px;
  align-self: center;
}

@media(max-width: 979px) {
  .profile__button_edit {
    margin: 0;
  }
}

@media(max-width: 639px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}