.cards__button_like_inactive {
  background-image: url('../../../../images/heart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 20px;
}

