@import url('./__logo/header__logo.css');

.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
}

@media(max-width: 639px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
  }
}