@import url('./__wrapper/form__wrapper.css');
@import url('./__items/form__items.css');
@import url('./__content/form__content.css');
@import url('./__title/form__title.css');
@import url('./__input/form__input.css');
@import url('./__button/form__button.css');
@import url('./__error/form__error.css');

.form {
  background: white;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  margin-top: 40px;
  overflow: hidden;
}

@media (max-width:320px){
  .form{
    width: 282px;
    height: 322px;
  }
}