@import url('../__error/_visible/form__error_visible.css');
/* this class targets the error message that shows up*/
.form__error {
  font-size: 12px;
  color: red;  
  position: absolute;
  transition: opacity 0.3s linear;
  max-width: 45ch;
}

@media (max-width: 473px){
  .form__error{
    max-width: 30ch;
  }
}